# Python,
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment,
.env

# Firebase credentials,
serviceAccount.json
*.json

# Project specific,
.streamlit/
data/
logs/


ml_model/fashion_classifier.h5
ml_model/class_labels.json

